In [1]:
%load_ext sql

In [3]:
    %sql postgresql://postgres:test123@127.0.0.1/sparkifydb

'Connected: postgres@sparkifydb'

In [4]:
%sql SELECT * FROM artists

 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', None, None)]

In [5]:
%sql SELECT * FROM songs

 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[('1', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, 114.78159)]

In [6]:
%sql SELECT * FROM time

 * postgresql://postgres:***@127.0.0.1/sparkifydb
171 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 1, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 1, 29, 36, 796000), 1, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 1, 30, 41, 796000), 1, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 1, 34, 17, 796000), 1, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 2, 42, 48, 796000), 2, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 3, 5, 57, 796000), 3, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 3, 32, 41, 796000), 3, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 3, 34, 34, 796000), 3, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 5, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 5, 52, 29, 796000), 5, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 1, 21, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 4, 16, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 5, 30, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 8, 18, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 12, 32, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 13, 37, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 16, 16, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 19, 15, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 22, 43, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 26, 49, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 31, 0, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 35, 25, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 40, 11, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 42, 23, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 47, 1, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 50, 23, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 54, 59, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 9, 57, 56, 796000), 9, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 2, 20, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 4, 5, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 7, 43, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 11, 24, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 13, 59, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 19, 18, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 19, 45, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 21, 25, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 24, 12, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 29, 6, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 33, 11, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 34, 14, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 38, 28, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 42, 22, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 47, 41, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 53, 11, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 10, 59, 19, 796000), 10, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 4, 31, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 7, 47, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 13, 13, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 17, 10, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 18, 15, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 20, 31, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 20, 37, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 21, 14, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 23, 28, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 24, 10, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 25, 30, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 27, 44, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 27, 49, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 29, 36, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 30, 25, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 31, 47, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 33, 20, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 34, 46, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 36, 38, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 39, 40, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 40, 43, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 43, 19, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 44, 8, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 47, 9, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 48, 19, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 51, 58, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 52, 19, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 55, 37, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 56, 43, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 11, 59, 26, 796000), 11, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 0, 45, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 2, 41, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 3, 7, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 4, 57, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 7, 23, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 9, 30, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 9, 52, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 11, 32, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 11, 54, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 14, 55, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 15, 36, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 17, 4, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 19, 4, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 19, 35, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 23, 1, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 25, 50, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 30, 22, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 35, 41, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 39, 30, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 44, 51, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 48, 32, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 53, 45, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 12, 57, 34, 796000), 12, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 1, 57, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 6, 37, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 10, 43, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 14, 59, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 18, 26, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 19, 9, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 22, 25, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 25, 38, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 28, 48, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 30, 10, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 33, 3, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 38, 24, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 41, 39, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 44, 33, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 50, 21, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 54, 7, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 13, 58, 16, 796000), 13, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 14, 20, 24, 796000), 14, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 14, 22, 57, 796000), 14, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 14, 26, 53, 796000), 14, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 14, 32, 40, 796000), 14, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 14, 48, 10, 796000), 14, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 23, 22, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 23, 54, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 27, 4, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 29, 53, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 33, 24, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 37, 39, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 40, 21, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 43, 16, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 56, 37, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 58, 28, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 58, 29, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 15, 59, 16, 796000), 15, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 3, 53, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 6, 43, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 8, 20, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 10, 54, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 12, 33, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 17, 13, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 18, 50, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 22, 13, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 24, 54, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 27, 56, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 30, 54, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 32, 7, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 32, 51, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 34, 47, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 35, 0, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 38, 55, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 38, 59, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 46, 2, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 49, 44, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 51, 37, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 16, 55, 9, 796000), 16, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 0, 38, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 0, 48, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 13, 4, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 18, 37, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 19, 48, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 25, 28, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 31, 45, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 55, 17, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 17, 59, 2, 796000), 17, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 18, 2, 42, 796000), 18, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 18, 36, 53, 796000), 18, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 18, 39, 3, 796000), 18, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 18, 42, 24, 796000), 18, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 18, 45, 39, 796000), 18, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 19, 41, 15, 796000), 19, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 20, 37, 3, 796000), 20, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 20, 40, 51, 796000), 20, 2, 44, 11, 2018, 'Friday'),
 (datetime.datetime(2018, 11, 2, 20, 43, 17, 796000), 20, 2, 44, 11, 2018, 'Friday')]

In [7]:
%sql SELECT * FROM users

 * postgresql://postgres:***@127.0.0.1/sparkifydb
22 rows affected.

[(101, 'Jayden', 'Fox', 'M', 'free'),
 (83, 'Stefany', 'White', 'F', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (89, 'Kynnedi', 'Sanchez', 'F', 'free'),
 (88, 'Mohammad', 'Rodriguez', 'M', 'free'),
 (75, 'Joseph', 'Gutierrez', 'M', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (71, 'Ayleen', 'Wise', 'F', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (100, 'Adler', 'Barrera', 'M', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (80, 'Tegan', 'Levine', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (61, 'Samuel', 'Gonzalez', 'M', 'free'),
 (86, 'Aiden', 'Hess', 'M', 'free')]